<b>1. Write a Python program to create a set.</b>

In [1]:
a = set()       #empty set
b = {1,2,3,4,5} # non-empty set
                # OR
c = set([1,2,3,4,5])

<b>2. Write a Python program to iteration over sets.</b>

In [2]:
a = set([1,2,3,4,5])
for i in a:
    print(i)

1
2
3
4
5

<b>3. Write a Python program to add member(s) in a set.</b>

In [3]:
a =  set()
a.add(1)  # for adding single element
a.update([2,3]) # for adding multiple elements
a

{1, 2, 3}

<b>4. Write a Python program to remove item(s) from set</b>

In [4]:
a = {1,2,3,4,5}
a.pop() # it will pop element from start
a

{2, 3, 4, 5}

<b>5. Write a Python program to remove an item from a set if it is present in the set.</b>

In [5]:
a = {0,1,2,3,4,5}
if 1 in a:
    a.remove(1)
                   # OR
a = set([i for i in range(0,6) if i != 1])
                   #OR
a = {0,1,2,3,4,5}
a.discard(1)
a
# 3 me se koi bhi use karlo

{0, 2, 3, 4, 5}

<b>6. Write a Python program to create an intersection of sets.</b>

In [6]:
x = {3,4,5,6,7}
y = {2,4,6,8}
intersection = x & y
intersection

{4, 6}

<b>7. Write a Python program to create a union of sets.</b>

In [7]:
x = {3,4,5,6,7}
y = {2,4,6,8}
union = x | y
union

{2, 3, 4, 5, 6, 7, 8}

<b>8. Write a Python program to create set difference.</b>

In [8]:
x = {3,4,5,6,7}
y = {2,4,6,8}
z = x & y
difference = x - z
difference

{3, 5, 7}

<b>9. Write a Python program to create a symmetric difference.</b>

In [9]:
x = {3,4,5,6,7}
y = {2,4,6,8}
symmetric_difference = x ^ y # ignone same elements in both set and give unique element in both set
symmetric_difference

{2, 3, 5, 7, 8}

<b>10. Write a Python program to issubset and issuperset.</b>

In [10]:
x = {3,4,5,6,7}
y = {3,4,6}
if x <= y:
    print("x is subset and y is super set")

elif y <= x:
    print("y is subset and x is super set")
    
# superset: Bara set
# subset: Bare me se liya gaya chota set

y is subset and x is super set

<b>11. Write a Python program to clear a set.</b>

In [11]:
a = {1,2,3,4,5}
a.clear()
a

set()

<b>12. Write a Python program to find maximum and the minimum value in a set.</b>

In [12]:
a = {7,2,4,9,1,2}
print(max(a))
print(min(a))

9
1

<b> 13. Write a Python program to find the length of a set.</b>

In [13]:
a = {1,2,3,4,5,6,7,8,9}
len(a)

9